body {
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  padding: 50px;
  background: #f4f4f4;
}

header h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
